body {
    background-color: powderblue;
    color: rgba(70, 7, 7, 0.796);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    
  }
  h1 {
   text-decoration: underline;
   text-decoration-color: bisque;
    text-align: center;
    color: #333; 
    font-family: 'Tangerine', serif;
    font-weight: bold;

    
  }
  h2,h3 {
    text-align: left;
    text-decoration: line-through;
    text-decoration-color: bisque;
    background-color: blanchedalmond;
    color: #555;
   
  }
  .first-paragraph {
    margin-bottom: 15px;
    float: right;
  }
  .second-paragraph { margin-bottom: 15px;
    margin-bottom: 15px;
    float: left;
}



ul {
    background-color: bisque;
    margin-bottom: 15px;
    list-style-position: outside;
    border: #333;
    border-radius: 0cqi;
    list-style-type: square;
}
ol
{  background-color: bisque;
    margin-bottom: 15px;
    list-style-position: outside;
    border: #333;
    border-radius: 0cqi;

}

li {
    margin-bottom: 5px;
    background-size: 0.1px;
    display: inline;
}
a:link {
    color: grey;
}
a:visited {
    color: beige;
}
a:hover {
    color: rgba(70, 7, 7, 0.796);

}